<?xml version="1.0"?>
<robot name="simple_robot">

  <!-- sphere_link : Sphere 형태 -->
  <link name="sphere_link">
    <visual>
      <geometry>
        <sphere radius="0.5"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
  </link>

</robot>
